
  
<div class="ui container"> 
<div class="ui grid">
  <div class="one wide column"></div>
  <div class="seven wide column">
    <div class="aboutTextDiv">
      <p class="ui message boxView">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>
  <div class="one wide column"></div>
  <div class="five wide column ">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'ui.large.form'}) do |f| %>
          
        <h2 class="ui teal image header">
          <%= image_tag("runner_icon.png", class:"image") %> 
          <div class="content">
            Log-in to your account
          </div>
        </h2>
          <div class="ui stacked segment">
            
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                  <%= f.email_field :email, :placeholder => "Email address", autofocus: true %>
              </div>
            </div>
            
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                  <%= f.password_field :password, :placeholder => "Password", autocomplete: "off" %>
              </div>
            </div>

            <div class="field">
               <% if devise_mapping.rememberable? -%>
               <%= f.check_box :remember_me%>
               <%= f.label :remember_me %>
               <% end -%>
            </div>
            
            
            <div class="field">
              <%= f.submit "Log in", :class => 'ui fluid large teal submit button'%>
            </div>
              
            <div class="field">
                <%= render "devise/shared/links" %>
            </div>
            
          </div>
        
          <div class="ui message">
            New to us? <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name) %>
            <% end -%>
          </div>
            
         <% end %>

        </div>
      </div>
    
  </div>
  <div class="one wide column"></div>

</div>






</div>

  
  

