<div class="imageLogin">
  <%= image_tag("runners_dark.png", class:"ui fluid image") %> 

  <div class="loginBlock">
    <div class="ui grid">
      <div class="sixteen wide column">
        <div>
        <h1 class="ui inverted huge header">
          Healthy Me
        </h1>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column">
  </div>
      </div>
      <div class="five wide column center aligned">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'ui.large.form'}) do |f| %>
          <div class="ui stacked segment loginBlock">
            <div class="content">
              <h2 class="ui green image header">
                  <%= image_tag("runner_icon.png", class:"image") %> 
                <div>
                  <p>Log-in</p>
                </div>
              </h2>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                  <%= f.email_field :email, :placeholder => "Email address", autofocus: true %>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                  <%= f.password_field :password, :placeholder => "Password", autocomplete: "off" %>
              </div>
            </div>
            <div class="field">
               <% if devise_mapping.rememberable? -%>
               <%= f.check_box :remember_me%>
               <%= f.label :remember_me %>
               <% end -%>
            </div>
            <div class="field">
              <%= f.submit "Log in", :class => 'ui fluid large pink submit button'%>
            </div>
            <div class="field">
                <%= render 'layouts/messages' %>
                <%= render "devise/shared/links" %>
            </div>
          </div> <!-- end ui stacked segment loginBlock -->
          <div class="ui message moreOptions">
             New to us? <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
             <%= link_to "Sign up", new_registration_path(resource_name) %>
             <% end -%>
          </div>
          <% end %>
        </div> <!-- end five wide  -->
      <div class="three wide column"></div>
      <div class="seven wide colum">
        <div class="floatTextRight darkBrown">
          <p>
            To demo application, sign in using email: <strong>admin@example.com</strong> and password: <strong>password</strong>.
          </p>
          <p>
            Healthy Me is rails application that allows users to view information about professional running races and fitness plans to train for each race.
          </p>
          <p>
            Features that remain in progress: a user can sync their Fitbit to check-off training activities as they are completed. A user can select from multiple races. Additionally, a user can create a running team from their Facebook friends.
          </p>
        </div>
      </div>
    </div> <!-- end ui grid  -->

  </div> <!-- end login block -->
</div>


