<!DOCTYPE html>
<html>
<head>
  <title>HealthyMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">


    <div id="header">
      <%= render 'layouts/messages' %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
    
    <div id="footer">
      <%= render 'layouts/footer' %>
    </div>
    
  
  </div> <!-- end wrapper -->
</body>
</html>